footer h3{
  position: absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  font-weight: 300;
}

@media screen and (max-width:1024px){
  footer h3{
    font-size: 16px;
  }
}