.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo{
  width: 40px;
  border-radius: 50%;
  opacity: .8;
  cursor: pointer;
  transition: transform .5s;
}

.logo:hover{
  opacity: 1;
  transform: scale(1.2);
}

.cabecalho ul{
  list-style: none;
  display: flex;
  gap: 40px;
}

.cabecalho li{
  color: rgb(226, 213, 213);
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  text-shadow: 2px 2px 2px black;
  padding: 5px;
  transition: all .8s;

  
}

.cabecalho li:hover{
  background-color: rgb(151, 11, 11);
  border-radius: 15px;
}