.nome{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.nome h3{
  color: #fff;
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: 400;

}

.nome h1{
  color: #fff;
  font-size: 120px;
  letter-spacing: 19px;
  font-weight: bold;
}

.apresentacao{
  color: #fff;
  width: 40%;
  font-size: 19px;
  font-weight: 300;
}
